{% load i18n %}
<div class="modal fade" id="share-email-modal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">{% trans "Share by email" %}</h4>
      </div>
      <div class="modal-body">
        <form method="POST" action="{% url 'socialshare:social-share-email' %}" id="form-share-email">{% csrf_token %}
			<p>{% trans "The following link will be emailed to your friend" %}:<p>
				{{form.url}}
				{% for field in form %}
					{% if  forloop.counter0 > 0 %}
						{% if forloop.counter0 == 1 or forloop.counter0 == 3 or forloop.counter0 > 4 %}<label>{{field.label}}</label>{% endif %}
						{{field}}
					{% endif %}
				{% endfor %}
			<br>
			<input class="btn btn-primary submit" type="submit" value="{% trans "Send" %}" name="submit" id="submit" />
		</form>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->